.full-width {
  width: 95%
}

.half-width {
  width: 45%
}

.form-size {
  width: 75%
}

.container{
  padding: 10px 25px;

}

.full-width .mat-input-element{
  background-color: rgb(240, 225, 250);
}

