<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<mat-card *ngIf="product" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h1>{{product.name | uppercase}}</h1>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{product.image}} alt={{product.name}}>
  <mat-card-content>
    <p>{{product.description}}
    </p>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="promotion" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h1>{{promotion.name | uppercase}}</h1>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{promotion.image}} alt={{promotion.name}}>
  <mat-card-content>
    <p>{{promotion.description}}
    </p>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="leaders" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h1>{{leaders.name | uppercase}}</h1>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{leaders.image}} alt={{product.name}}>
  <mat-card-content>
    <p>{{leaders.description}}
    </p>
  </mat-card-content>
</mat-card>


</div>
